<ul>
  <li><%= link_to 'Posts', posts_path %></li>
  <li><%= link_to 'Banners', banners_path %></li>
  <li><%= link_to 'Páginas', pages_path %></li>
  <li><%= link_to 'Galerias', galleries_path %></li>
</ul>